
body {
  background-color: black;
  color: cyan;
  text-align: center;
}

marquee {
  color: DeepPink;
  font-size: 35px;
}

#video {
  background-color: MidnightBlue;    
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
